<section id="dataservice-quality" style="display: none;">
  <div class="additional-info__content flex-display flex-column relative">
    {% block dataservice_section_quality %}
      <div class="read-more read-more--md module-bg-gray">
        <div class="table-container">
          <table class="custom-table">

            {% block dataservice_regulation %}
              {% if pkg_dict.hvd_applicable_legislation and dict_fields[inc_dict.hvd_applicable_legislation] or 
              (pkg_dict.access_rights and dict_fields[inc_dict.access_rights]) or
              (pkg_dict.license_id and dict_fields[inc_dict.license_id]) %}
                <tbody>
                  <tr>
                    <th colspan="2">{{_('Regulation')}}</th>
                  </tr>
                  {% if pkg_dict.hvd_applicable_legislation and dict_fields[inc_dict.hvd_applicable_legislation] %}
                    <tr>
                      <th class="large text--color-primary-dark">
                        {{ h.scheming_language_text(dict_fields[inc_dict.hvd_applicable_legislation].label) }}
                      </th>
                      <td>
                        {% snippet 'scheming/display_snippets/multiple_uri_text.html',
                        data=pkg_dict, field=dict_fields[inc_dict.hvd_applicable_legislation] %}
                      </td>
                    </tr>
                  {% endif %}
            
                  {% if pkg_dict.access_rights and dict_fields[inc_dict.access_rights] %}
                    {% set access_rights_label, xml_lang = h.dge_get_vocabularies_uri_label(pkg_dict[dict_fields[inc_dict.access_rights].field_name]) %}
                    <tr>
                      <th class="large text--color-primary-dark">
                        {{ h.scheming_language_text(dict_fields[inc_dict.access_rights].label) }}
                      </th>
                      <td>
                        {% snippet 'scheming/display_snippets/dge_lang_uri_label.html',
                        data=pkg_dict, field=dict_fields[inc_dict.access_rights],
                        label=access_rights_label, xml_lang=xml_lang %}
                      </td>
                    </tr>
                  {% endif %}

                  {% if pkg_dict.license_id and dict_fields[inc_dict.license_id] %}
                    {% set license_label, xml_lang = h.dge_get_vocabularies_uri_label(pkg_dict.license_id) %}
                    <tr>
                      <th class="large text--color-primary-dark">
                        {{ h.scheming_language_text(dict_fields[inc_dict.license_id].label) }}
                      </th>
                      <td>
                        {% snippet 'scheming/display_snippets/dge_lang_uri_label.html',
                        data=pkg_dict, field=dict_fields[inc_dict.license_id],
                        label=license_label, xml_lang=xml_lang %}
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              {% endif %}
            {% endblock %}
          </table>
        </div>
      </div>
      <div class="read-more__bottom read-more__bottom--blue">
        <button role="button" class="" data-more="{{ _('Read more') }}" data-less="{{_('Read less') }}">{{ _('Read more') }}</button>
      </div>
    {% endblock %}
  </div>
</section>