{% ckan_extends %}
{% set dataservice_read_route = 'dgeDataserviceBlueprint.read' %}
{% set dataservice_delete_route = 'dgeDataserviceBlueprint.delete' %}

{% block stages %}
  {% if dataset_type != 'dataservice' %}
    {{ super() }}
  {% endif %}
{% endblock %}


{% block disclaimer %}
{% if dataset_type != 'dataservice' %}
{{ super() }}
{% endif %}
{% endblock %}

{% block delete_button %}
{% if dataset_type == 'dataservice' %}
{% if form_style == 'edit' and h.check_access('dge_dataservice_dataservice_delete', {'id': data.id}) and not data.state == 'deleted' %}
{% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataservice?')}) %}
<a class="btn btn-danger pull-left" href="{{ h.url_for(dataservice_delete_route, id=data.id) }}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
{% endif %}
{% else %}
{{ super() }}
{% endif %}

{% endblock %}

        
{% block save_button %}
{% if dataset_type == 'dataservice' %}
  {% if form_style != 'edit' %}
    <button class="btn btn-primary" type="submit" name="save" value=''>{% block save_button_text %}{% if form_style != 'edit' %}{{ _('Create Dataservice') }}{% else %}{{ _('Update Dataservice') }}{% endif %}{% endblock %}</button>
  {% else %}
    <button class="btn btn-primary" type="submit" name="save" value=''>{{ _('Update Dataservice') }}</button>
  {% endif %}
{% else %}
  {{ super() }}
{% endif %}
{% endblock %}