include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dge_dataservice *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dge_dataservice/migration *.ini *.py *.mako
